#skillCard {
  h1 {
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
  #skillsInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20%;
    align-items: left;
    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: normal;
    }
  }
}