#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 50px 0px;
  #container-fluid {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    #jobHeader {
      padding: 0px 10px 30px 0px;
      h1 {
        font-size: x-large;
        font-weight: bold;
      }
    }
    #jobCardOuter {
      display: flex;
      flex-direction: row;
      width: 100%;
      #jobCardOuterContainer {
        width: 75%;
        #jobCardContainer {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          padding: 0px;
          width: 95%;
          margin: auto;
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  #jobCardOuter{
    flex-wrap: wrap-reverse;
    #jobCardOuterContainer {
      width: 100% !important;
      #jobCardContainer {
        grid-template-columns: 1fr !important;
      }
    }
  }
}