#searchHistory{
    width: 25%;
    padding: 0px;
    #searchHistoryContainer{
        background-color: #d9d9d9;
        padding: 10px;
        border-radius: 5px;
        height: fit-content;
        h1{
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }
        ul{
            margin: 0;
            padding: 20px;
            max-height: 350px;
            overflow-y: auto;
            li{
                margin-bottom: 5px;
                text-decoration: underline;
                margin-bottom: 10px;
            }
        }
        
    }
}


@media screen and (max-width: 500px) {
    #searchHistory {
        width: 100%;
        margin-bottom: 20px;
    }

    ul{
        max-height: 75px !important;
    }
}